.header{
  color:#66FCF1;
  text-align: center;
}
.header-grey{
  color:#C5C6C7;
  font-weight:bold;
  font-size:x-large;
}
p, div{
  color:#C5C6C7;
}
::placeholder{
  text-align: center;
  color:#1f283369;
  letter-spacing: 4px;
  
}
input{
  background-color:#C5C6C7;
  text-align: center;

  
}
body{
  background-color:#0B0C10;
}
body,input,button{
  font-family: Geneva;
}

button{
  background-color: Transparent;
  border: 2px solid #45A29E;
  color: #C5C6C7;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button:hover{
  background-color: #45A29E;
  color: white;
  border: 2px solid white;
}

ul{
  color: #C5C6C7;
  list-style-type: square;
}

.user-auth{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 550px;
  height: 450px;
  flex-direction: column;
  text-align: center;
  position: center;
  align-items: center;
  justify-content:center;
  border: 10px solid #66fcf2c4;
  background-color: #66fcf211;;

}
/*
.user-auth-reg, .user-auth-login{
  display:none;
}
*/

/* prior, it was 350, 75*/
.ua-child{ 
  width: 350px;
  height:45px;
}
/*
.user-auth-reg{
  display:none;
}
*/
.user-auth-reg, .user-auth-reset{
  display:none;
}

#logout{
  display:none;
  float:right;
}

.discord{
  display: none;
  box-sizing:border-box;


}

.channels, .chat-functionality, .active-users{
  float: left;
  color: white;
  padding: 30px;
  height: 400px;
  
}

.channels{
  width:20%;
  text-align: center;
  border: 10px solid#45A29E;
  border-right:5px;

}
#channelList{
  text-align:left;
}

.chat-functionality{
  width:40%;
  float:center;
  border: 10px solid#45A29E;
  border-right:5px;
  display: flex;
}
.chat-functionality-msg{
  overflow:auto; 
  display:flex; 
  flex-direction:column-reverse;
  height: 350px;
  width: 200px;


}
.chat-functionality-send{
  position: absolute;
  align-items: baseline;
  align-self:flex-end;
  float:right;
}
.active-users{
  width:15%;
  text-align: center;
  border: 10px solid#45A29E;
}

